.banner-wrapper {
    width: 100%;
}

.banner-slide {
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.banner-action-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner-action-container h1 {
    font-weight: 700;
    font-size: 43px;
    line-height: 64px;
    color: #1B5A7D;
}

.banner-action-btn-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.button-secondary {
    background: #fff;
    border: 1px solid #316887;
    border-radius: 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    padding: 18px 40px;
    cursor: pointer;
    color: #316887;
}

.banner-image-container {
    width: 300px;
    position: relative;
}

.banner-image {
    width: 100%;
    height: auto;
    display: block;
}

.banner-discount {
    position: absolute;
    bottom: 50px;
    right: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    width:120px;
    height: 120px;
    background: #EDA415;
    padding: 25px;
    font-weight: 600;
    font-size: 21.573px;
    line-height: 32px;
    color: #FFFFFF;
}